:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
  --color-off-black: rgb(44, 43, 43);
}
/*Typography*/
body {
  font-family: Red Hat Display;
  background: var(--color-pale-blue);
  height: 100vh;
}
html {
  font-size: 62.5%;
}
/*Card*/
.card__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.card {
  border: 1px solid #000;
  border-radius: 15px;
  background: #fff;
  height: 500px;
}
.card,
.card__img {
  width: 300px;
}
.card__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*Card Body*/
.card__body {
  text-align: center;
  margin: 20px 30px 16px;
}
.card__header {
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--color-off-black);
}
.card__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-desaturated-blue);
}
/*Plans*/
.plan__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__text,
.plan__link {
  font-size: 1.5rem;
}
.plan__text {
  font-weight: 900;
  line-height: 2.3rem;
  color: var(--color-off-black);
}
.plan__price {
  font-weight: 500;
  color: var(--color-desaturated-blue);
}
.plan__link {
  color: var(--color-dark-blue);
  font-weight: 700;
  transition: color 0.3s;
}
.plan__link:hover {
  color: var(--color-bright-blue);
}
/*Card Footer*/
.card__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card__btn {
  background: var(--color-bright-blue);
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  height: 35px;
  transition: background 0.3s;
  width: 230px;
}
.card__btn:hover {
  background: hsl(245, 71%, 58%);
}
.card__cancel {
  color: var(--color-desaturated-blue);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 25px;
  text-align: center;
  transition: color 0.3s;
  width: 100%;
}
.card__cancel:hover {
  color: hsl(225, 10%, 23%);
}
